
html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
}

#logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header {
    border: 1px solid black;
    background-color: red;
    border: 3px solid black;
    padding: 20px 50px;
}

nav {
    display: inline-block;
    line-height: 110px;
}

nav a {
    text-decoration: none;
    padding-right: 15px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 25px;
}

nav a:hover {
    text-decoration: none;
    color: navy;
    text-shadow: 1px 1px white;
}

.special {
    padding: 0 25px 25px 25px;
    border: 3px solid black;
    margin-top: 10px;
    text-align: center;
}

.special h1 {
    font-size: 40px;
    text-shadow: 1px 1px 3px black;
    color: red;
}

.special p {
    font-weight: bold;
}

.otherhalf {
    padding: 25px;
    border: 3px solid black;
    margin-top: 10px;
}

#bacon {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px black;
}

.footer {
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  border: 2px solid black;
  box-shadow: 1px 1px 5px black;
  /*Hello */
}
